@media (min-width:1200px){
    body{
    background-color: #5F1A1A;
    width: 100%;
    height: 760px;
    margin: 0px;
}

.base
{
    background-color: #F4F4F4;
    width: 1200px;
    height: 760px;
    margin: 0 auto;
    margin-top:0px;
}

#modal_village_history{
    background-color:rgba(95,26,26,0.8);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left:0;
    top:0;
}

.modal_village_history_window{
    width: 1100px;
    height: auto;
    background-color:#F4F4F4;
    margin-right: auto;
    margin-left: auto;
}

#modal_museum_history{
    background-color:rgba(95,26,26,0.8);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left:0;
    top:0;
}

.modal_museum_history_window{
    width: 1100px;
    height: auto;
    background-color:#F4F4F4;
    margin-right: auto;
    margin-left: auto;
}

#modal_school_history{
    background-color:rgba(95,26,26,0.8);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left:0;
    top:0;
}

.modal_school_history_window{
    width: 1100px;
    height: auto;
    background-color:#F4F4F4;
    margin-right: auto;
    margin-left: auto;
}

.h2_modal{
    height: auto;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: lighter;
        font-size: 40px;
        color:#7C7171;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
}

.h3_modal{
    height: auto;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: lighter;
        font-size: 30px;
        color:#7C7171;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
}

.p_modal{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: lighter;
        font-size: 20px;
        color:#7C7171;
        text-align:justify;
        text-indent: 30px;
        margin-left: 5%;
        margin-right: 5%;
}

.img_modal{
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
}

.close_village{
    color:#7C7171;
    float: right;
    font-size: 80px;
    font-weight: bold;
    padding-right: 20px;
}

.close_village:hover{
    color:rgba(124,113,113, 0.9);
    cursor: pointer;
}

.close_museum{
    color:#7C7171;
    float: right;
    font-size: 80px;
    font-weight: bold;
    padding-right: 20px;
}

.close_museum:hover{
    color:rgba(124,113,113, 0.9);
    cursor: pointer;
}

.close_school{
    color:#7C7171;
    float: right;
    font-size: 80px;
    font-weight: bold;
    padding-right: 20px;
}

.close_school:hover{
    color:rgba(124,113,113, 0.9);
    cursor: pointer;
}

header{
    text-transform: uppercase;
    width: 1200px;
    height: 105px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .label{
    color:#7C7171;
    float: left;
    width: 298px;
    height: 79px;
    font-family: 'Roboto';
    font-style:normal;
    font-weight: lighter;
    font-size: 24px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5em;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    margin-right: 43px;
    text-decoration: none;
}

header .label a:hover{
    cursor: pointer;
}

header .menu{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-top: 40px;
    display: flex;
    justify-content:space-around;
}

header .menu a{
    text-decoration: none;
    color:#7C7171;
    margin-right: 43px;
}

header .menu .btn{
width: 150px;
height: 20px;
background: #FFFFFF;
border-radius: 5px;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}

header .menu a:hover{
    font-weight:700;
}

header .menu .btn:hover{
    background-color:#5F1A1A;
    color:white;
}

main{
    width: 100%;
    height: auto;
}

main .history{
    display: flex;
}

main .village_history{
    width: 350px;
    height: 300px;
    display: inline-block;
    background-color:#FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #7C7171;
    margin: 2%;
}

main .museum_history{
    width: 350px;
    height: 300px;
    display: inline-block;
    background-color:#FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #7C7171;
    margin: 2%;
}

main .school_history{
    width: 350px;
    height: 300px;
    display: inline-block;
    background-color:#FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #7C7171;
    margin: 2%;
}

main .village_history:hover{
    background-color: #5F1A1A;
        color: #FFFFFF;
        transition: 0.5s;
        transform:scale(1.05);
}

main .museum_history:hover{
    background-color: #5F1A1A;
        color: #FFFFFF;
        transition: 0.5s;
        transform:scale(1.05);
}

main .school_history:hover{
    background-color: #5F1A1A;
        color: #FFFFFF;
        transition: 0.5s;
        transform:scale(1.05);
}

main .history img{
    width: 98%;
    height: auto;
    margin: 1%;
}

main img{
    width: 100%;
    height: auto;
}

main h2{
    font-family: 'Roboto';
    font-style:normal;
    font-weight: lighter;
    font-size: 40px;
    text-align: center;
    margin-top: 5px;
}

footer{
    margin-top: 3px;
    width: 1200px;
    height: 80px;
}

footer .sponsors{
    float: left;
    margin-left: 50px;
}

footer a{
    text-decoration: none;
}

footer .sponsors .rvio{
    width: 50px;
    height: 62.21px;
    float: left;
    padding-top: 20px;
    margin: 0px;
}

footer .sponsors pre{
width: 318px;
height: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: lighter;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.2em;
color: #7C7171;
margin:0px;
padding-top: 25px;
padding-left: 65px;
}

footer .social{
    float: right;
    padding-top:30px;
    display: inline-block;
    padding-right: 50px;
}

footer .social img{
    width: 50px;
    height: 50px;
    padding-left: 16px;
}
}















@media (min-width:769px) and (max-width:1199px){
    body{
        background-color: #5F1A1A;
        width: 100%;
        margin: 0px;
    }
    
    .base
    {
        background-color: #F4F4F4;
        width: 769px;
        margin: 0 auto;
        margin-top:0px;
    }
    
    #modal_village_history{
        background-color:rgba(95,26,26,0.8);
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        overflow: auto;
        left:0;
        top:0;
    }
    
    .modal_village_history_window{
        width: 100%;
        height: auto;
        background-color:#F4F4F4;
        margin-right: auto;
        margin-left: auto;
    }
    
    #modal_museum_history{
        background-color:rgba(95,26,26,0.8);
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        overflow: auto;
        left:0;
        top:0;
    }
    
    .modal_museum_history_window{
        width: 100%;
        height: auto;
        background-color:#F4F4F4;
        margin-right: auto;
        margin-left: auto;
    }
    
    #modal_school_history{
        background-color:rgba(95,26,26,0.8);
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        overflow: auto;
        left:0;
        top:0;
    }
    
    .modal_school_history_window{
        width: 100%;
        height: auto;
        background-color:#F4F4F4;
        margin-right: auto;
        margin-left: auto;
    }
    
    .h2_modal{
        height: auto;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 40px;
            color:#7C7171;
            margin-top: 0px;
            margin-bottom: 10px;
            text-align: center;
            margin-left: 60px;
    }
    
    .h3_modal{
        height: auto;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 30px;
            color:#7C7171;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
    }
    
    .p_modal{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 20px;
            color:#7C7171;
            text-align:justify;
            text-indent: 30px;
            margin-left: 5%;
            margin-right: 5%;
    }
    
    .img_modal{
        width: 70%;
        height: auto;
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .close_village{
        color:#7C7171;
        float: right;
        font-size: 50px;
        font-weight: bold;
        padding-right: 10px;
    }
    
    .close_village:hover{
        color:rgba(124,113,113, 0.9);
        cursor: pointer;
    }
    
    .close_museum{
        color:#7C7171;
        float: right;
        font-size: 50px;
        font-weight: bold;
        padding-right: 10px;
    }
    
    .close_museum:hover{
        color:rgba(124,113,113, 0.9);
        cursor: pointer;
    }
    
    .close_school{
        color:#7C7171;
        float: right;
        font-size: 50px;
        font-weight: bold;
        padding-right: 10px;
    }
    
    .close_school:hover{
        color:rgba(124,113,113, 0.9);
        cursor: pointer;
    }

    header{
        text-transform: uppercase;
        width: 769px;
        height: 75px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    header .label{
        color:#7C7171;
        float: left;
        width: 230px;
        height: 55px;
        font-family: 'Roboto';
        font-style:normal;
        font-weight: lighter;
        font-size: 18px;
        line-height: 25px;
        display: flex;
        align-items: center;
        letter-spacing: 0.5em;
        margin-top: 0px;
        padding-left: 10px;
        padding-top: 10px;
        margin-bottom: 0px;
        margin-right: 20px;
        text-decoration: none;
    }
    
    header .label a:hover{
        cursor: pointer;
    }
    
    header .menu{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        display: flex;
        align-items: center;
        padding-top: 22.5px;
        display: flex;
        justify-content:space-around;
    }
    
    header .menu a{
        text-decoration: none;
        color:#7C7171;
        margin-right: 15px;
    }
    
    header .menu .btn{
    width: 105px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    }
    
    header .menu a:hover{
        font-weight:700;
    }
    
    header .menu .btn:hover{
        background-color:#5F1A1A;
        color:white;
    }

    main{
        width: 100%;
        height: auto;
    }
    
    main .history{
        display: flex;
    }
    
    main .village_history{
        width: 350px;
        height: 300px;
        display: inline-block;
        background-color:#FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #7C7171;
        margin: 2%;
    }
    
    main .museum_history{
        width: 350px;
        height: 300px;
        display: inline-block;
        background-color:#FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #7C7171;
        margin: 2%;
    }
    
    main .school_history{
        width: 350px;
        height: 300px;
        display: inline-block;
        background-color:#FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #7C7171;
        margin: 2%;
    }
    
    main .village_history:hover{
        background-color: #5F1A1A;
            color: #FFFFFF;
            transition: 0.5s;
            transform:scale(1.05);
    }
    
    main .museum_history:hover{
        background-color: #5F1A1A;
            color: #FFFFFF;
            transition: 0.5s;
            transform:scale(1.05);
    }
    
    main .school_history:hover{
        background-color: #5F1A1A;
            color: #FFFFFF;
            transition: 0.5s;
            transform:scale(1.05);
    }
    
    main .history img{
        width: 98%;
        height: auto;
        margin: 1%;
    }
    
    main img{
        width: 100%;
        height: auto;
    }
    
    main h2{
        font-family: 'Roboto';
        font-style:normal;
        font-weight: lighter;
        font-size: 40px;
        text-align: center;
        margin-top: 5px;
    }

    footer{
        margin-top: 20px;
        width: 769px;
        height: 90px;
    }
    
    footer .contacts{
        width: 600px;
        height: 150px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 10px;
        margin: 0 auto;
        color: #7C7171;
    }
    
    footer .contacts:hover{
        background-color:#5F1A1A;
        color:white;
        transition: 0.5s;
        transform: scale(1.05);
    }
    
    footer .contacts .h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-top:10px;
    margin:0px;
    }
    
    footer .contacts .adress{
        width: 240px;
        height: 86px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight:lighter;
        font-size: 16px;
        line-height: 30px;
    padding-left: 30px;
    margin:0px;
    padding-top: 10px;
    float: left;
    }
    
    footer .contacts .telephone{
        width: 242px;
        height: 69px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight:lighter;
        font-size: 16px;
        line-height: 30px;
    padding-right: 30px;
    margin:0px;
    padding-top: 10px;
    float: right;
    text-align: right;
    }
    
    footer .sponsors{
        float: left;
        margin-left: 50px;
    }
    
    footer a{
        text-decoration: none;
    }
    
    footer .sponsors .rvio{
        width: 50px;
        height: 62.21px;
        float: left;
        padding-top: 20px;
        margin: 0px;
    }
    
    footer .sponsors pre{
    width: 318px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2em;
    color: #7C7171;
    margin:0px;
    padding-top: 25px;
    padding-left: 65px;
    }
    
    footer .social{
        float: right;
        padding-top:30px;
        display: inline-block;
        padding-right: 50px;
    }
    
    footer .social img{
        width: 50px;
        height: 50px;
        padding-left: 16px;
    }      
}


















@media (min-width:481px) and (max-width:768px){
    body{
        background-color:#F4F4F4;
        width: 100%;
        height: auto;
        margin: 0px;
    }
    
    .base
    {
        background-color: #F4F4F4;
        width: 90%;
        height: auto;
        margin-top:0px;
        margin: 0 auto;
    }
    
    #modal_village_history{
        background-color:rgba(95,26,26,0.8);
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        overflow: auto;
        left:0;
        top:0;
    }
    
    .modal_village_history_window{
        width: 100%;
        height: auto;
        background-color:#F4F4F4;
        margin-right: auto;
        margin-left: auto;
    }
    
    #modal_museum_history{
        background-color:rgba(95,26,26,0.8);
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        overflow: auto;
        left:0;
        top:0;
    }
    
    .modal_museum_history_window{
        width: 100%;
        height: auto;
        background-color:#F4F4F4;
        margin-right: auto;
        margin-left: auto;
    }
    
    #modal_school_history{
        background-color:rgba(95,26,26,0.8);
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        overflow: auto;
        left:0;
        top:0;
    }
    
    .modal_school_history_window{
        width: 100%;
        height: auto;
        background-color:#F4F4F4;
        margin-right: auto;
        margin-left: auto;
    }
    
    .h2_modal{
        height: auto;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 40px;
            color:#7C7171;
            margin-top: 0px;
            margin-bottom: 10px;
            text-align: center;
            margin-left: 60px;
    }
    
    .h3_modal{
        height: auto;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 30px;
            color:#7C7171;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
    }
    
    .p_modal{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 20px;
            color:#7C7171;
            text-align:justify;
            text-indent: 30px;
            margin-left: 5%;
            margin-right: 5%;
    }
    
    .img_modal{
        width: 70%;
        height: auto;
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .close_village{
        color:#7C7171;
        float: right;
        font-size: 50px;
        font-weight: bold;
        padding-right: 10px;
    }
    
    .close_village:hover{
        color:rgba(124,113,113, 0.9);
        cursor: pointer;
    }
    
    .close_museum{
        color:#7C7171;
        float: right;
        font-size: 50px;
        font-weight: bold;
        padding-right: 10px;
    }
    
    .close_museum:hover{
        color:rgba(124,113,113, 0.9);
        cursor: pointer;
    }
    
    .close_school{
        color:#7C7171;
        float: right;
        font-size: 50px;
        font-weight: bold;
        padding-right: 10px;
    }
    
    .close_school:hover{
        color:rgba(124,113,113, 0.9);
        cursor: pointer;
    }

    header{
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }
    
    header .label{
        color:#7C7171;
        font-family: 'Roboto';
        font-style:normal;
        font-weight: lighter;
        font-size: 30px;
        line-height: 30px;
        align-items: center;
        letter-spacing: 0.5em;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        float: initial;
        display: block;
    }
    
    header .menu{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
        width: 150px;
        margin: 0 auto;
        float: initial;
        justify-content:space-around;
        display: block;
    }
    
    header .menu a{
        text-decoration: none;
        color:#7C7171;
        display: block;
        margin-bottom: 10px;
    }
    
    header .menu .btn{
    width: 150px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    
    header .menu .btn:hover{
        background-color:#5F1A1A;
        color:white;
    }

    main{
        width: 100%;
        height: auto;
    }
    
    main .history{
        text-align: center;
    }
    
    main .village_history{
        width: 350px;
        height: 300px;
        display: inline-block;
        background-color:#FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #7C7171;
        margin: 2%;
    }
    
    main .museum_history{
        width: 350px;
        height: 300px;
        display: inline-block;
        background-color:#FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #7C7171;
        margin: 2%;
    }
    
    main .school_history{
        width: 350px;
        height: 300px;
        display: inline-block;
        background-color:#FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #7C7171;
        margin: 2%;
    }
    
    main .village_history:hover{
        background-color: #5F1A1A;
            color: #FFFFFF;
            transition: 0.5s;
            transform:scale(1.05);
    }
    
    main .museum_history:hover{
        background-color: #5F1A1A;
            color: #FFFFFF;
            transition: 0.5s;
            transform:scale(1.05);
    }
    
    main .school_history:hover{
        background-color: #5F1A1A;
            color: #FFFFFF;
            transition: 0.5s;
            transform:scale(1.05);
    }
    
    main .history img{
        width: 98%;
        height: auto;
        margin: 1%;
    }
    
    main img{
        width: 100%;
        height: auto;
    }
    
    main h2{
        font-family: 'Roboto';
        font-style:normal;
        font-weight: lighter;
        font-size: 40px;
        text-align: center;
        margin-top: 5px;
    }

    footer{
        width: 100%;
        height: auto;
    }

    footer .sponsors{
        width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer a{
        text-decoration: none;
    }
    
    footer .sponsors .rvio{
        width: 50px;
        height: 62.21px;
        float: left;
        padding-top: 20px;
        padding-right: 10px;
    }
    
    footer .sponsors pre{
    width: 318px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #7C7171;
    margin:0px;
    padding-top: 35px;
    }
    
    footer .social{
        padding-top:15px;
        display: inline-block;
        margin-left: 5%;
    }
    
    footer .social img{
        width: 50px;
        height: 50px;
        padding-left: 8px;
        padding-right: 8px;
    }
}













@media (max-width: 480px){
    body{
        background-color:#F4F4F4;
        width: 100%;
        height: auto;
        margin: 0px;
    }
    
    .base
    {
        background-color: #F4F4F4;
        width: 375px;
        height: auto;
        margin-top:0px;
        margin: 0 auto;
    }
    
    #modal_village_history{
        background-color:rgba(95,26,26,0.8);
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        overflow: auto;
        left:0;
        top:0;
    }
    
    .modal_village_history_window{
        width: 100%;
        height: auto;
        background-color:#F4F4F4;
        margin-right: auto;
        margin-left: auto;
    }
    
    #modal_museum_history{
        background-color:rgba(95,26,26,0.8);
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        overflow: auto;
        left:0;
        top:0;
    }
    
    .modal_museum_history_window{
        width: 100%;
        height: auto;
        background-color:#F4F4F4;
        margin-right: auto;
        margin-left: auto;
    }
    
    #modal_school_history{
        background-color:rgba(95,26,26,0.8);
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        overflow: auto;
        left:0;
        top:0;
    }
    
    .modal_school_history_window{
        width: 100%;
        height: auto;
        background-color:#F4F4F4;
        margin-right: auto;
        margin-left: auto;
    }
    
    .h2_modal{
        height: auto;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 40px;
            color:#7C7171;
            margin-top: 0px;
            margin-bottom: 10px;
            text-align: center;
            margin-left: 60px;
    }
    
    .h3_modal{
        height: auto;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 30px;
            color:#7C7171;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
    }
    
    .p_modal{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 20px;
            color:#7C7171;
            text-align:justify;
            text-indent: 30px;
            margin-left: 5%;
            margin-right: 5%;
    }
    
    .img_modal{
        width: 70%;
        height: auto;
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .close_village{
        color:#7C7171;
        float: right;
        font-size: 50px;
        font-weight: bold;
        padding-right: 10px;
    }
    
    .close_village:hover{
        color:rgba(124,113,113, 0.9);
        cursor: pointer;
    }
    
    .close_museum{
        color:#7C7171;
        float: right;
        font-size: 50px;
        font-weight: bold;
        padding-right: 10px;
    }
    
    .close_museum:hover{
        color:rgba(124,113,113, 0.9);
        cursor: pointer;
    }
    
    .close_school{
        color:#7C7171;
        float: right;
        font-size: 50px;
        font-weight: bold;
        padding-right: 10px;
    }
    
    .close_school:hover{
        color:rgba(124,113,113, 0.9);
        cursor: pointer;
    }

    header{
        text-transform: uppercase;
        width: 375px;
        height: 280px;
        text-align: center;
    }
    
    header .label{
        color:#7C7171;
        float: left;
        width: 375px;
        height: 69px;
        font-family: 'Roboto';
        font-style:normal;
        font-weight: lighter;
        font-size: 25px;
        line-height: 30px;
        align-items: center;
        letter-spacing: 0.5em;
        margin-top: 0px;
        margin-top: 10px;
        margin-bottom: 30px;
        text-decoration: none;
        float: initial;
        display: block;
    }
    
    header .menu{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        float: initial;
        justify-content:space-around;
        display: block;
    }
    
    header .menu a{
        text-decoration: none;
        color:#7C7171;
        display: block;
        margin-bottom: 10px;
    }
    
    header .menu .btn{
    width: 150px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    
    header .menu .btn:hover{
        background-color:#5F1A1A;
        color:white;
    }

    main{
        width: 100%;
        height: auto;
    }
    
    main .history{
        text-align: center;
    }
    
    main .village_history{
        width: 350px;
        height: 300px;
        display: inline-block;
        background-color:#FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #7C7171;
        margin: 2%;
    }
    
    main .museum_history{
        width: 350px;
        height: 300px;
        display: inline-block;
        background-color:#FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #7C7171;
        margin: 2%;
    }
    
    main .school_history{
        width: 350px;
        height: 300px;
        display: inline-block;
        background-color:#FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #7C7171;
        margin: 2%;
    }
    
    main .village_history:hover{
        background-color: #5F1A1A;
            color: #FFFFFF;
            transition: 0.5s;
            transform:scale(1.05);
    }
    
    main .museum_history:hover{
        background-color: #5F1A1A;
            color: #FFFFFF;
            transition: 0.5s;
            transform:scale(1.05);
    }
    
    main .school_history:hover{
        background-color: #5F1A1A;
            color: #FFFFFF;
            transition: 0.5s;
            transform:scale(1.05);
    }
    
    main .history img{
        width: 98%;
        height: auto;
        margin: 1%;
    }
    
    main img{
        width: 100%;
        height: auto;
    }
    
    main h2{
        font-family: 'Roboto';
        font-style:normal;
        font-weight: lighter;
        font-size: 40px;
        text-align: center;
        margin-top: 5px;
    }

    footer{
        width: 100%;
        height: 80px;
    }
    
    footer .sponsors{
        float: left;
        margin-left: 5px;
    }
    
    footer a{
        text-decoration: none;
    }
    
    footer .sponsors .rvio{
        width: 50px;
        height: 62.21px;
        float: left;
        padding-top: 20px;
        margin: 0px;
    }
    
    footer .sponsors pre{
    width: 318px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #7C7171;
    margin:0px;
    padding-top: 35px;
    padding-left: 55px;
    }
    
    footer .social{
        padding-top:15px;
        display: inline-block;
        padding-left: 83px;
    }
    
    footer .social img{
        width: 50px;
        height: 50px;
        padding-left: 16px;
    } 
}