@media (min-width: 1200px) {
 body{
    background-color: #5F1A1A;
    width: 100%;
    height: 1892px;
    margin: 0px;
}

.base
{
    background-color: #F4F4F4;
    width: 1200px;
    height: 1892px;
    margin: 0 auto;
    margin-top:0px;
}

.img_left_click{
    float:left;
    width: 50px;
    height:50px;
    padding-top: 345px;
    padding-left: 75px;
}

.img_left_click:hover{
    transition: 0.01s;
    transform:scale(1.05);
    padding-top: 337.5px;
}

.img_right_click{
    float:right;
    width: 50px;
    height:50px;
    padding-top: 345px;
    padding-right: 75px;
}

.img_right_click:hover{
    transition: 0.01s;
    transform:scale(1.05);
    padding-top: 337.5px;
}

.img_slaider{
    width: 800px;
    padding-left: 25px;
    height: 600px;
    margin-top: 40px;
}

.close_war{
    color:#7C7171;
    float: right;
    font-size: 80px;
    font-weight: bold;
    padding-right: 20px;
}

.close_war:hover{
    color:rgba(124,113,113, 0.9);
    cursor: pointer;
}

.close_cosmonautics{
    color:#7C7171;
    float: right;
    font-size: 80px;
    font-weight: bold;
    padding-right: 20px;
}

.close_cosmonautics:hover{
    color:rgba(124,113,113, 0.9);
    cursor: pointer;
}

.close_archeology{
    color:#7C7171;
    float: right;
    font-size: 80px;
    font-weight: bold;
    padding-right: 20px;
}

.close_archeology:hover{
    color:rgba(124,113,113, 0.9);
    cursor: pointer;
}

.close_history{
    color:#7C7171;
    float: right;
    font-size: 80px;
    font-weight: bold;
    padding-right: 20px;
}

.close_history:hover{
    color:rgba(124,113,113, 0.9);
    cursor: pointer;
}

.h2_modal{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: lighter;
        font-size: 40px;
        line-height: 20px;
        color:#7C7171;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
}

.text_modal{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: lighter;
        font-size: 15px;
        line-height: 25px;
        color:black;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
}

#modal_war{
    background-color:rgba(95,26,26,0.8);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left:0;
    top:0;
}

.modal_war_window{
    width: 1100px;
    height: auto;
    background-color:#F4F4F4;
    margin-right: auto;
    margin-left: auto;
}

#modal_cosmonautics{
    background-color:rgba(95,26,26,0.8);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left:0;
    top:0;
}

.modal_cosmonautics_window{
    width: 1100px;
    height: auto;
    background-color:#F4F4F4;
    margin-right: auto;
    margin-left: auto;
}

#modal_archeology{
    background-color:rgba(95,26,26,0.8);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left:0;
    top:0;
}

.modal_archeology_window{
    width: 1100px;
    height: auto;
    background-color:#F4F4F4;
    margin-right: auto;
    margin-left: auto;
}

#modal_history{
    background-color:rgba(95,26,26,0.8);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left:0;
    top:0;
}

.modal_history_window{
    width: 1100px;
    height: auto;
    background-color:#F4F4F4;
    margin-right: auto;
    margin-left: auto;
} 

header{
    text-transform: uppercase;
    width: 1200px;
    height: 105px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .label{
    color:#7C7171;
    float: left;
    width: 298px;
    height: 79px;
    font-family: 'Roboto';
    font-style:normal;
    font-weight: lighter;
    font-size: 24px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5em;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    margin-right: 43px;
    text-decoration: none;
}

header .label a:hover{
    cursor: pointer;
}

header .menu{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-top: 40px;
    display: flex;
    justify-content:space-around;
}

header .menu a{
    text-decoration: none;
    color:#7C7171;
    margin-right: 43px;
}

header .menu .btn{
width: 150px;
height: 20px;
background: #FFFFFF;
border-radius: 5px;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}

header .menu a:hover{
    font-weight:700;
}

header .menu .btn:hover{
    background-color:#5F1A1A;
    color:white;
}

footer{
    width: 1200px;
    height: 87px;
}

footer .sponsors{
    float: left;
    margin-left: 50px;
}

footer a{
    text-decoration: none;
}

footer .sponsors .rvio{
    width: 50px;
    height: 62.21px;
    float: left;
    padding-top: 20px;
    margin: 0px;
}

footer .sponsors pre{
width: 318px;
height: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: lighter;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.2em;
color: #7C7171;
margin:0px;
padding-top: 25px;
padding-left: 65px;
}

footer .social{
    float: right;
    padding-top:30px;
    display: inline-block;
    padding-right: 50px;
}

footer .social img{
    width: 50px;
    height: 50px;
    padding-left: 16px;
}

main .hall_of_war{
    display: inline-block;
        background-color:#FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 1150px;
        height: 440px;
        color: #7C7171;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 20px;
}

main .hall_of_war:hover{
    background-color: #5F1A1A;
        color: #FFFFFF;
        transition: 0.5s;
        transform:scale(1.04);
        cursor: pointer;
}

main .hall_of_war .image{
    width: 510px;
    height: 382px;
    padding-top: 27.5px;
    padding-left: 19px;
    float: left;
    padding-right: 25px;
}

main .hall_of_war .h2{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: lighter;
        font-size: 40px;
        line-height: 20px;
        margin-bottom: 10px;
        text-align: left;
        margin-top:22.5px;
}

main .hall_of_war .text_hall_of_war{
    font-family: 'Roboto';
        font-style: normal;
        font-weight:300;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        line-height: 25px;
        padding-right: 20px;
}

main .hall_of_history{
    display: inline-block;
        background-color:#FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 520px;
        height: 850px;
        color: #7C7171;
        margin-top: 30px;
        margin-left: 60px;
}

main .hall_of_history:hover{
    background-color: #5F1A1A;
        color: #FFFFFF;
        transition: 0.5s;
        transform:scale(1.05);
        cursor: pointer;
}

main .hall_of_history .image{
    width: 420px;
    height: 315px;
    padding-top: 19px;
    padding-left: 19px;
    padding-left: 50px;
}

main .hall_of_history .h2{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: lighter;
        font-size: 40px;
        line-height: 20px;
        margin-bottom: 5px;
        text-align: center;
        padding-top: 15px;
        margin: 0px;
}

main .hall_of_history .text_hall_of_history{
    font-family: 'Roboto';
        font-style: normal;
        font-weight:300;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        line-height: 25px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0px;
}

main .Hall_of_archeology {
    display: inline-block;
        background-color:#FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 520px;
        height: 850px;
        color: #7C7171;
        margin-right: 60px;
        margin-top: 30px;
        margin-left: 36px;
}

main .Hall_of_archeology:hover{
    background-color: #5F1A1A;
        color: #FFFFFF;
        transition: 0.5s;
        transform:scale(1.05);
        cursor: pointer;
}

main .Hall_of_archeology .image{
    width: 420px;
    height: 315px;
    padding-top: 19px;
    padding-left: 19px;
    padding-left: 50px;
}

main .Hall_of_archeology h2{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: lighter;
        font-size: 40px;
        line-height: 20px;
        margin-bottom: 5px;
        text-align: center;
        padding-top: 15px;
        margin: 0px;
}

main .Hall_of_archeology .text_hall_of_arheology{
    font-family: 'Roboto';
        font-style: normal;
        font-weight:300;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        line-height: 25px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0px;
}

main .cosmonautics_hall{
    display: inline-block;
        background-color:#FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 1100px;
        height: 325px;
        color: #7C7171;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
        margin-bottom: 0px;
}

main .cosmonautics_hall:hover{
    background-color: #5F1A1A;
        color: #FFFFFF;
        transition: 0.5s;
        transform:scale(1.05);
        cursor: pointer;
}

main .cosmonautics_hall .image{
    width: 350px;
    height: 262px;
    padding-top: 32.5px;
    padding-right: 19px;
    float: right;
    padding-left: 25px;
}

main .cosmonautics_hall .h2{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: lighter;
        font-size: 40px;
        line-height: 20px;
        margin-bottom: 10px;
        text-align: right;
        margin-top: 22.5px;
}

main .cosmonautics_hall .text_cosmonautics_hall{
    font-family: 'Roboto';
        font-style: normal;
        font-weight:300;
        font-size: 14px;
        line-height: 20px;
        line-height: 25px;
        text-align: right;
        padding-left: 15px;
}

}











@media (min-width:769px) and (max-width:1199px){
    body{
        background-color: #5F1A1A;
        width: 100%;
        margin: 0px;
    }
    
    .base
    {
        background-color: #F4F4F4;
        width: 769px;
        margin: 0 auto;
        margin-top:0px;
    }
    
    header{
        text-transform: uppercase;
        width: 769px;
        height: 75px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    header .label{
        color:#7C7171;
        float: left;
        width: 230px;
        height: 55px;
        font-family: 'Roboto';
        font-style:normal;
        font-weight: lighter;
        font-size: 18px;
        line-height: 25px;
        display: flex;
        align-items: center;
        letter-spacing: 0.5em;
        margin-top: 0px;
        padding-left: 10px;
        padding-top: 10px;
        margin-bottom: 0px;
        margin-right: 20px;
        text-decoration: none;
    }
    
    header .label a:hover{
        cursor: pointer;
    }
    
    header .menu{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        display: flex;
        align-items: center;
        padding-top: 22.5px;
        display: flex;
        justify-content:space-around;
    }
    
    header .menu a{
        text-decoration: none;
        color:#7C7171;
        margin-right: 15px;
    }
    
    header .menu .btn{
    width: 105px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    }
    
    header .menu a:hover{
        font-weight:700;
    }
    
    header .menu .btn:hover{
        background-color:#5F1A1A;
        color:white;
    }

    .modal_war_window{
        display: none;
    }
    
    .modal_cosmonautics_window{
        display:none
    }
    
    .modal_archeology_window{
        display:none;
    }
    
    .modal_history_window{
        display:none;
    } 

    #modal_war{
        display: none;
    }
    
    #modal_cosmonautics{
        display: none;
    }
    
    #modal_archeology{
        display: none;
    }
    
    #modal_history{
        display: none;
    }

    main .hall_of_war{
        display: inline-block;
            background-color:#FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 96%;
            height: auto;
            color: #7C7171;
            text-align: center;
            margin-left: 2%;
            margin-top: 20px;
    }
    
    main .hall_of_war .image{
        width: 98%;
        height: 50%;
        text-align: center;
        margin-top:10px;
    }
    
    main .hall_of_war .h2{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 30px;
            line-height: 20px;
            margin: 0px;
            padding-top: 12px;
    }
    
    main .hall_of_war .text_hall_of_war{
        font-family: 'Roboto';
            font-style: normal;
            font-weight:300;
            font-size: 14px;
            line-height: 20px;
            margin: 0px;
            padding-top: 10px;
            padding-left: 3px;
            padding-right: 3px;
    }
    
    main .hall_of_history{
        display: inline-block;
            background-color:#FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 96%;
            height: auto;
            color: #7C7171;
            text-align: center;
            margin-left: 2%;
            margin-top: 20px;
    }
    
    main .hall_of_history .image{
        width: 98%;
        height: 50%;
        text-align: center;
        margin-top:10px;
    }
    
    main .hall_of_history .h2{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 30px;
            line-height: 20px;
            margin: 0px;
            padding-top: 12px;
    }
    
    main .hall_of_history .text_hall_of_history{
        font-family: 'Roboto';
            font-style: normal;
            font-weight:300;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            margin: 0px;
            padding-top: 10px;
            padding-left: 3px;
            padding-right: 3px;
    }
    
    main .Hall_of_archeology {
        display: inline-block;
            background-color:#FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 96%;
            height: auto;
            color: #7C7171;
            text-align: center;
            margin-left: 2%;
            margin-top: 20px;
    }
    
    main .Hall_of_archeology .image{
        width: 98%;
        height: 50%;
        text-align: center;
        margin-top:10px;
    }
    
    main .Hall_of_archeology h2{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 30px;
            line-height: 20px;
            margin: 0px;
            padding-top: 12px;
    }
    
    main .Hall_of_archeology .text_hall_of_arheology{
        font-family: 'Roboto';
            font-style: normal;
            font-weight:300;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            margin: 0px;
            padding-top: 10px;
            padding-left: 3px;
            padding-right: 3px;
    }
    
    main .cosmonautics_hall{
        display: inline-block;
            background-color:#FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 96%;
            height: auto;
            color: #7C7171;
            text-align: center;
            margin-left: 2%;
            margin-top: 20px;
    }
    
    main .cosmonautics_hall .image{
        width: 98%;
        height: 50%;
        text-align: center;
        margin-top:10px;
    }
    
    main .cosmonautics_hall .h2{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 30px;
            line-height: 20px;
            margin: 0px;
            padding-top: 12px;
    }
    
    main .cosmonautics_hall .text_cosmonautics_hall{
        font-family: 'Roboto';
            font-style: normal;
            font-weight:300;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            margin: 0px;
            padding-top: 10px;
            padding-left: 3px;
            padding-right: 3px;
    }

    footer{
        margin-top: 20px;
        width: 769px;
        height: 90px;
    }
    
    footer .sponsors{
        float: left;
        margin-left: 50px;
    }
    
    footer a{
        text-decoration: none;
    }
    
    footer .sponsors .rvio{
        width: 50px;
        height: 62.21px;
        float: left;
        padding-top: 20px;
        margin: 0px;
    }
    
    footer .sponsors pre{
    width: 318px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2em;
    color: #7C7171;
    margin:0px;
    padding-top: 25px;
    padding-left: 65px;
    }
    
    footer .social{
        float: right;
        padding-top:30px;
        display: inline-block;
        padding-right: 50px;
    }
    
    footer .social img{
        width: 50px;
        height: 50px;
        padding-left: 16px;
    }      
}











@media (min-width:481px) and (max-width:768px){
    body{
        background-color:#F4F4F4;
        width: 100%;
        height: auto;
        margin: 0px;
    }
    
    .base
    {
        background-color: #F4F4F4;
        width: 90%;
        height: auto;
        margin-top:0px;
        margin: 0 auto;
    }
    
    header{
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }
    
    header .label{
        color:#7C7171;
        font-family: 'Roboto';
        font-style:normal;
        font-weight: lighter;
        font-size: 30px;
        line-height: 30px;
        align-items: center;
        letter-spacing: 0.5em;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        float: initial;
        display: block;
    }
    
    header .menu{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
        width: 150px;
        margin: 0 auto;
        float: initial;
        justify-content:space-around;
        display: block;
    }
    
    header .menu a{
        text-decoration: none;
        color:#7C7171;
        display: block;
        margin-bottom: 10px;
    }
    
    header .menu .btn{
    width: 150px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    
    header .menu .btn:hover{
        background-color:#5F1A1A;
        color:white;
    }

    .modal_war_window{
        display: none;
    }
    
    .modal_cosmonautics_window{
        display:none
    }
    
    .modal_archeology_window{
        display:none;
    }
    
    .modal_history_window{
        display:none;
    } 

    #modal_war{
        display: none;
    }
    
    #modal_cosmonautics{
        display: none;
    }
    
    #modal_archeology{
        display: none;
    }
    
    #modal_history{
        display: none;
    }

    main .hall_of_war{
        display: inline-block;
            background-color:#FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 96%;
            height: auto;
            color: #7C7171;
            text-align: center;
            margin-left: 2%;
            margin-top: 10px;
    }
    
    main .hall_of_war .image{
        width: 98%;
        height: 50%;
        text-align: center;
        margin-top:10px;
    }
    
    main .hall_of_war .h2{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 30px;
            line-height: 20px;
            margin: 0px;
            padding-top: 12px;
    }
    
    main .hall_of_war .text_hall_of_war{
        font-family: 'Roboto';
            font-style: normal;
            font-weight:300;
            font-size: 14px;
            line-height: 20px;
            margin: 0px;
            padding-top: 10px;
            padding-left: 3px;
            padding-right: 3px;
    }
    
    main .hall_of_history{
        display: inline-block;
            background-color:#FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 96%;
            height: auto;
            color: #7C7171;
            text-align: center;
            margin-left: 2%;
            margin-top: 10px;
    }
    
    main .hall_of_history .image{
        width: 98%;
        height: 50%;
        text-align: center;
        margin-top:10px;
    }
    
    main .hall_of_history .h2{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 30px;
            line-height: 20px;
            margin: 0px;
            padding-top: 12px;
    }
    
    main .hall_of_history .text_hall_of_history{
        font-family: 'Roboto';
            font-style: normal;
            font-weight:300;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            margin: 0px;
            padding-top: 10px;
            padding-left: 3px;
            padding-right: 3px;
    }
    
    main .Hall_of_archeology {
        display: inline-block;
            background-color:#FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 96%;
            height: auto;
            color: #7C7171;
            text-align: center;
            margin-left: 2%;
            margin-top: 10px;
    }
    
    main .Hall_of_archeology .image{
        width: 98%;
        height: 50%;
        text-align: center;
        margin-top:10px;
    }
    
    main .Hall_of_archeology h2{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 30px;
            line-height: 20px;
            margin: 0px;
            padding-top: 12px;
    }
    
    main .Hall_of_archeology .text_hall_of_arheology{
        font-family: 'Roboto';
            font-style: normal;
            font-weight:300;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            margin: 0px;
            padding-top: 10px;
            padding-left: 3px;
            padding-right: 3px;
    }
    
    main .cosmonautics_hall{
        display: inline-block;
            background-color:#FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 96%;
            height: auto;
            color: #7C7171;
            text-align: center;
            margin-left: 2%;
            margin-top: 10px;
    }
    
    main .cosmonautics_hall .image{
        width: 98%;
        height: 50%;
        text-align: center;
        margin-top:10px;
    }
    
    main .cosmonautics_hall .h2{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 30px;
            line-height: 20px;
            margin: 0px;
            padding-top: 12px;
    }
    
    main .cosmonautics_hall .text_cosmonautics_hall{
        font-family: 'Roboto';
            font-style: normal;
            font-weight:300;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            margin: 0px;
            padding-top: 10px;
            padding-left: 3px;
            padding-right: 3px;
    }

    footer{
        width: 100%;
        height: auto;
    }

    footer .sponsors{
        width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer a{
        text-decoration: none;
    }
    
    footer .sponsors .rvio{
        width: 50px;
        height: 62.21px;
        float: left;
        padding-top: 20px;
        padding-right: 10px;
    }
    
    footer .sponsors pre{
    width: 318px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #7C7171;
    margin:0px;
    padding-top: 35px;
    }
    
    footer .social{
        padding-top:15px;
        display: inline-block;
        margin-left: 5%;
    }
    
    footer .social img{
        width: 50px;
        height: 50px;
        padding-left: 8px;
        padding-right: 8px;
    }
}













@media (max-width: 480px){
    body{
        background-color:#F4F4F4;
        width: 100%;
        height: 3450px;
        margin: 0px;
    }
    
    .base
    {
        background-color: #F4F4F4;
        width: 375px;
        height: 3450px;
        margin-top:0px;
        margin: 0 auto;
    }
    
    header{
        text-transform: uppercase;
        width: 375px;
        height: 280px;
        text-align: center;
    }
    
    header .label{
        color:#7C7171;
        float: left;
        width: 375px;
        height: 69px;
        font-family: 'Roboto';
        font-style:normal;
        font-weight: lighter;
        font-size: 25px;
        line-height: 30px;
        align-items: center;
        letter-spacing: 0.5em;
        margin-top: 0px;
        margin-top: 10px;
        margin-bottom: 30px;
        text-decoration: none;
        float: initial;
        display: block;
    }
    
    header .menu{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        float: initial;
        justify-content:space-around;
        display: block;
    }
    
    header .menu a{
        text-decoration: none;
        color:#7C7171;
        display: block;
        margin-bottom: 10px;
    }
    
    header .menu .btn{
    width: 150px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    
    header .menu a:hover{
        font-weight:700;
    }
    
    header .menu .btn:hover{
        background-color:#5F1A1A;
        color:white;
    }
    
    main .hall_of_war{
        display: inline-block;
            background-color:#FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 96%;
            height: 750px;
            color: #7C7171;
            text-align: center;
            margin-left: 2%;
            margin-top: 10px;
    }
    
    main .hall_of_war .image{
        width: 98%;
        height: 35%;
        text-align: center;
        margin-top:10px;
    }
    
    main .hall_of_war .h2{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 25px;
            line-height: 20px;
            margin: 0px;
            padding-top: 10px;
    }
    
    main .hall_of_war .text_hall_of_war{
        font-family: 'Roboto';
            font-style: normal;
            font-weight:300;
            font-size: 12px;
            line-height: 20px;
            margin: 0px;
            padding-top: 10px;
            padding-left: 3px;
            padding-right: 3px;
    }
    
    main .hall_of_history{
        display: inline-block;
            background-color:#FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 96%;
            height: 775px;
            color: #7C7171;
            text-align: center;
            margin-left: 2%;
            margin-top: 10px;
    }
    
    main .hall_of_history .image{
        width: 98%;
        height: 32%;
        text-align: center;
        margin-top:10px;
    }
    
    main .hall_of_history .h2{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 25px;
            line-height: 20px;
            margin: 0px;
            padding-top: 10px;
    }
    
    main .hall_of_history .text_hall_of_history{
        font-family: 'Roboto';
            font-style: normal;
            font-weight:300;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            margin: 0px;
            padding-top: 10px;
            padding-left: 3px;
            padding-right: 3px;
    }
    
    main .Hall_of_archeology {
        display: inline-block;
            background-color:#FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 96%;
            height: 770px;
            color: #7C7171;
            text-align: center;
            margin-left: 2%;
            margin-top: 10px;
    }
    
    main .Hall_of_archeology .image{
        width: 98%;
        height: 35%;
        text-align: center;
        margin-top:10px;
    }
    
    main .Hall_of_archeology h2{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 25px;
            line-height: 20px;
            margin: 0px;
            padding-top: 10px;
    }
    
    main .Hall_of_archeology .text_hall_of_arheology{
        font-family: 'Roboto';
            font-style: normal;
            font-weight:300;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            margin: 0px;
            padding-top: 10px;
            padding-left: 3px;
            padding-right: 3px;
    }
    
    main .cosmonautics_hall{
        display: inline-block;
            background-color:#FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 96%;
            height: 675px;
            color: #7C7171;
            text-align: center;
            margin-left: 2%;
            margin-top: 10px;
    }
    
    main .cosmonautics_hall .image{
        width: 98%;
        height: 40%;
        text-align: center;
        margin-top:10px;
    }
    
    main .cosmonautics_hall .h2{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: lighter;
            font-size: 25px;
            line-height: 20px;
            margin: 0px;
            padding-top: 10px;
    }
    
    main .cosmonautics_hall .text_cosmonautics_hall{
        font-family: 'Roboto';
            font-style: normal;
            font-weight:300;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            margin: 0px;
            padding-top: 10px;
            padding-left: 3px;
            padding-right: 3px;
    }
    
    .modal_war_window{
        display: none;
    }
    
    .modal_cosmonautics_window{
        display:none
    }
    
    .modal_archeology_window{
        display:none;
    }
    
    .modal_history_window{
        display:none;
    } 


#modal_war{
    display: none;
}

#modal_cosmonautics{
    display: none;
}

#modal_archeology{
    display: none;
}

#modal_history{
    display: none;
}
    
    footer{
        width: 100%;
        height: auto;
    }

    footer .sponsors{
        width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer a{
        text-decoration: none;
    }
    
    footer .sponsors .rvio{
        width: 50px;
        height: 62.21px;
        float: left;
        padding-top: 20px;
        padding-right: 10px;
    }
    
    footer .sponsors pre{
    width: 318px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #7C7171;
    margin:0px;
    padding-top: 35px;
    }
    
    footer .social{
        padding-top:15px;
        display: inline-block;
    }
    
    footer .social img{
        width: 50px;
        height: 50px;
        padding-left: 8px;
        padding-right: 8px;
    }
}